/node_modules
/storage/*.key
/public/storage
/vendor
/nbproject

.env
.env.testing

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Ignore DevSpace cache and log folder
.devspace/
database/seeders/UserSeeder.php
